{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<main class="my-5 py-2" >
    <div class="container" >
          <div class="row py-2" >
<main class="p-5">
<div class="row">
	<div class="col-sm-6 offset-sm-3">
	<h1 class="myhead2">New Post</h1>
		<hr>
		<form enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{{form | crispy}}
		<div >	
	</div>
	<br>
	<div class="w3-show-inline-block">
		<div class="w3-bar">
		  <button class="btn btn-primary btn-lg active"  style="border-radius: 10px;"  type="submit">Post</button>
			<a href="/cat/home" class="btn btn-secondary btn-lg active" style="border-radius: 10px;" >Back</a>

		</div>
	</div>
	</form>
	
	</div>
</div>
</main>
</div>
</div>
</main>
{% endblock %}

